<article id="about-me-container">

  <div id="about-me--title" class="flex flex-row">

  </div>

  <div id="about-me--body" class="flex flex-row">

    <div class="">
      <img src="themes/custom/calvin_theme/img/profile.png">
    </div>

    <div class="flex-col">
      <p>Hello World!  My name is Calvin and I'm a PHP Developer!  I work with Drupal and Laravel but I also enjoy JS and Python.</p>

      <p>When I'm not programming, I'm usually playing video games or doing something equally as lazy.  TV or Youtube are pretty common choices.</p>

      <p>One "sport" I do spend a lot of time doing is skiing.  Skiing is definitely one of my favorite things to do in the winter.  Keeping my fingers crossed for a good season of East coast skiing!  But that probably won't happen...</p>

      <div class="flex flex-row flex-rc">
        <img src="themes/custom/calvin_theme/img/skis.jpg">
      </div>

      <p>Thanks for reading!</p>

      <p>Calvin Choe</p>

      <hr class="hr-60">
      <div class="flex flex-row">
        <span class="flex flex-equal flex-rc"><a href="https://github.com/cchoe1" target="_blank">Github</a></span>
        <span class="flex flex-equal flex-rc"><a href="https://www.linkedin.com/in/calvin-choe-772130b6/" target="_blank">LinkedIn</a></span>
      </div>
    </div>

  </div>
</div>
