<article id="about-me-container">

  <div id="about-me--title" class="flex flex-row">

  </div>

  <div id="about-me--body" class="flex flex-row">

    <div class="">
      <img src="themes/custom/calvin/img/profile.png">
    </div>

    <div class="flex-col">
      <p>Hello World!  My name is Calvin</p>

      <p>I'm a PHP Developer!  I work with Drupal and Laravel but I also enjoy JS and Python.</p>

      <p>When I'm not programming, I'm usually playing video games or doing something equally as lazy.  TV or Youtube are pretty common ones.</p>

    </div>

  </div>
</div>
