@import url("https://fonts.googleapis.com/css?family=Raleway");
header, body {
  font-family: 'Raleway', sans-serif !important; }

.flex {
  display: flex; }

.flex-col {
  flex-direction: column; }

.flex-row {
  flex-direction: row; }

.flex-equal {
  flex: 1 1 0; }

.flex-rc {
  justify-content: center; }

.flex-cc {
  align-items: center; }

.hr-20 {
  width: 20%;
  margin-left: 40%; }

.hr-40 {
  width: 40%;
  margin-left: 30%; }

.hr-60 {
  width: 60%;
  margin-left: 20%; }

.hr-80 {
  width: 80%;
  margin-left: 10%; }

#about-me--body div {
  margin: 2rem; }

.img-full img {
  width: 100%; }
